# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# mypy / cache
.mypy_cache/

# Editor directories
.vscode/
.idea/

# Environment variables
.env
